.App {
  text-align: center;
}

body{
  background: url("./bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.login-box{
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  width: 400px;
}

.login-box input{
  margin-top: 18px;
  height: 25px;
  width: auto; 
}

input{
  background: transparent;
}

.logout-btn{
  float: right;
  border: transparent;
  font-size: 3ex;
  color: white;
}

ul{
  list-style-type: none;
  margin-top: 50px;
  
}
ul li{
  display:list-item;
  margin-bottom: 22px;
  height: 50px;
  justify-content: center;
  /* border-style:ridge; */
  box-shadow: 1px 1px 1px 1px black;
}

ul li:hover{
  box-shadow: 2px 2px 2px 2px black;
}

ul li button:hover{
  box-shadow: 0px 0px 1px 1px whitesmoke;
}

ul li a{
  color: black;
  font-size:medium;
  color:silver;
  float:left;
  margin-left: 12px;
}

ul li button{
  float: right;
  margin-top: 15px;
  margin-right: 12px;
  
  font-size:medium;
  color:silver;
  
}

button{
  background-color: transparent;
  border: transparent;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#title{
  height: 30px;
  margin-right: 12px;
}

.submit{
  height: 30px;
  width: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* a{
  margin-right: 16px;
} */